.card-container{
  display: flex;
  flex-direction: column;

  
  margin: 10px;
  box-shadow: 0 0 5px 0px #bbadad;
  border-radius: 10px;
  padding: 10px;



}

.card-image-wrapper{
  padding: 20px;
  border-bottom: 1px dashed #bbadad;
}

.card-image{
width: 100%;

}

.content-wrapper{
  
}

.title{
  font-weight: 600;
}

.description{

}