.cards-container{
  display: grid;
  grid-template-columns: 1fr;
}

.pages-navigation{
  display: flex;
}

.page-button{
  border: 1px solid #524f4f;
  background: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px;
}

.selected{
  background: black;
  color: white;
}

.pages-navigation{
  margin: 5px;
  overflow-x: scroll;
}

.user-controls{
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  box-shadow: 0 0 4px #d8d1d1;
  padding-bottom: 5px;

  
}
.sort{
  padding: 10px 0px;
  align-self: center;
  border: none;
  
  
}
.sort-selection{
  border: none;
  background: #ffffff;


}

.search-input{

  border: 1px solid #978e8e;
  border-radius: 5px;
  
}

.search-input{
  margin-bottom: 10px;
}

.app-heading{
  margin: 0px;
}

@media(min-width: 600px){
  .search-input{
    margin-bottom: none;
    font-size: 1.5em;

  }
  .user-controls{
    grid-template-columns: repeat(3, 1fr) ;
  }
  .sort{
    justify-self: end;
    font-size: 1.5em;

  }
  .sort-selection{
    font-size: 1em;
  }
  .cards-container{

    grid-template-columns: repeat(2, 1fr);

  }
}

@media(min-width: 1024px){
  .cards-container{
    grid-template-columns: repeat(3, 1fr);
  }
}