.cards-container{
  display: grid;
  grid-template-columns: 1fr;
}

.pages-navigation{
  display: flex;
}

.page-button{
  border: 1px solid #524f4f;
  background: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px;
}

.selected{
  background: black;
  color: white;
}

.content-control{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button-group{
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  
  
}

.button-group-item{
  border: none;
  border-right: 1px solid black;
  background: #ffffff;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
}

.selected-button{
  background: #000000;
  color: #ffffff
}

.button-group-item:last-child{
  border: none;
  border-radius: 5px;
}



.pages-navigation{
  margin: 5px;
  overflow-x: scroll;
}

@media(min-width: 600px){
  .cards-container{

    grid-template-columns: repeat(2, 1fr);

  }
}

@media(min-width: 1024px){
  .cards-container{
    grid-template-columns: repeat(3, 1fr);
  }
}