.cards-container{
  display: grid;
  grid-template-columns: 1fr;
}

.pages-navigation{
  display: flex;
}

.page-button{
  border: 1px solid #524f4f;
  background: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  min-width: 50px;
  margin: 5px;
}

.selected{
  background: black;
  color: white;
}

.pages-navigation{
  margin: 5px;
  overflow-x: scroll;
}

.user-controls{
  display: grid;
  grid-template-columns: 1fr;
}

.sort{
  padding: 15px;
}

@media(min-width: 600px){
  .user-controls{
    grid-template-columns: repeat(2, 1fr) ;
  }
  .sort{
    justify-self: end;
  }
  .cards-container{

    grid-template-columns: repeat(2, 1fr);

  }
}

@media(min-width: 1024px){
  .cards-container{
    grid-template-columns: repeat(3, 1fr);
  }
}